<form [formGroup]="formx" (ngSubmit)="submitForm(formx.value)">
  <div>
    <label>First Name</label>
    <input type="text" formControlName="firstName"/>
    <p class="alert" *ngIf="!formx.controls['firstName'].valid && formx.controls['firstName'].touched">Invalid first name</p>
  </div>
  <br>
  <div>
    <label>Last Name</label>
    <input type="text" formControlName="lastName"/>
    <p class="alert" *ngIf="!formx.controls['lastName'].valid && formx.controls['lastName'].touched">Invalid last name</p>
  </div>
  <div>
    <label>Phone number</label>
    <input type="text" formControlName="phoneNumber"/>
    <p class="alert" *ngIf="!formx.controls['phoneNumber'].valid && formx.controls['phoneNumber'].touched">Invalid phone number</p>
  </div>
  <div>
    <label>Password </label>
    <input (input)="checkPassword(formx.value.password)" type="password" formControlName="password"/>
    <p class="alert" *ngIf="!formx.controls['password'].valid && formx.controls['password'].touched">Invalid phone password</p>
  </div>
  <br>
  <button [disabled]="!formx.valid">Click me to submit</button>
</form>